:root {
    --primary-color: #54BD95;
    --secondary-color: #333;
    --background-gradient-start: #e0f7fa;
    --background-gradient-end: #f1f8e9;
    --text-color: #A6A6A6;
    --text-color-2: #A9A7B6;
    --white: #fff;
    --black: #000;
    --background-color: #f9f9f9;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* 

.logo {
    color: var(--primary-color);
}
 */
/* .header {
    background: linear-gradient(to right, var(--background-gradient-start), var(--background-gradient-end));
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */


.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color:  var(--background-gradient-start) , var(--background-gradient-end);
}

.mneu-items {
    flex-basis: 1;
}

.nav_btn {
    flex-basis: 1;

}

.logo{
    color: var(--primary-color);
}

.mneu-items ul{
    color: var(--text-color);
    display: flex;
    gap: 1em;
    list-style: none;
    text-decoration: none;
}


.mneu-items ul a {
    color: var(--text-color);
   
}